@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

.App {
  text-align: center;
}

body, span, h1 {
  font-family: 'IBM Plex Mono', monospace;
}

button {
  border: 1px solid #000;
  text-decoration: none;
  background-color: #fff;
}

button:hover {
  background-color: #000;
  color: #fff;
}
