#keyboard {
  max-width: 840px;
  margn: auto;
}
.keyboard-letter {
  height: 60px;
  width: 60px;
  text-transform: uppercase;
}

.keyboard-letter:disabled {
  background-color: lightgrey;
  color: #fff;
  border: 1px solid grey;
}
